In [ ]:
#1
for i in range (1,6):
  for j in range (1,i+1):
    print (j,end='')
  print ()

1
12
123
1234
12345

In [ ]:
#2
for i in range (1,6):
  for j in range (1,i+1):
    print (i,end='')
  print ()

1
22
333
4444
55555

In [ ]:
#3
for i in range (1,6):
  for j in range (1,i+1):
    print (j,end='')
  print ()
for i in range (5,0,-1):
  for j in range (1,i,1):
    print (j,end='')
  print()

1
12
123
1234
12345
1234
123
12
1

In [ ]:
#4
for i in range (5,0,-1):
  for j in range (1,i+1,1):
    print (j,end='')
  print()
for i in range (1,6):
  for j in range (1,i+1):
    print (j,end='')
  print ()

12345
1234
123
12
1
1
12
123
1234
12345

In [ ]:
#5
for i in range (5,0,-1):
  for j in range (i,0,-1):
    print (j,end='')
  print()
for i in range (1,6):
  for j in range (i,0,-1):
    print (j,end='')
  print ()

54321
4321
321
21
1
1
21
321
4321
54321

In [ ]:
#6
for i in range (1,6):
  print (' '*(5-i),end='')
  for j in range (1,i+1):
    print (j,end=' ')
  print ()

    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5

In [ ]:
#7
for i in range (1,6):
  for j in range (5,i-1,-1):
    print (j,end='')
  print()

54321
5432
543
54
5

In [ ]:
#8
for i in range (5,0,-1):
  for j in range (5,i-1,-1):
    print (j,end='')
  print()

5
54
543
5432
54321

In [ ]:
#9
for i in range (5,0,-1):
  for j in range (1,i+1):
    print (j,end='')
  print()

12345
1234
123
12
1

In [ ]:
#10
a=1
for i in range (1,6):
  for j in range (1,i+1):
    print (a,end=' ')
    a+=1
  print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [ ]:
#11
for i in range (1,6):
  for j in range (i,0,-1):
    print (j,end='')
  print ()

1
21
321
4321
54321

In [ ]:
#12
for i in range (1,6):
  for j in range (i,i*5+1,5):
    print (j,end=' ')
  print ()

1
2 7
3 8 13
4 9 14 19
5 10 15 20 25

In [ ]:
#13
for i in range (0,5):
 print(' '*(4-i),end='')
 c=11**i
 while c>0:
   s=c%10
   print ('',s,end='')
   c//=10
 print()

     1
    1 1
   1 2 1
  1 3 3 1
 1 4 6 4 1

In [ ]:
#14
for i in range (1,6):
  for j in range (1,i+1):
    print (j,end='')
  for j in range (i-1,0,-1):
    print (j,end='')
  print()

1
121
12321
1234321
123454321

In [ ]:
#15
for i in range (5,0,-1):
  print(" "*(5-i),end='')
  for j in range (1,i+1):
    print (j,end=' ')
  print()

1 2 3 4 5
 1 2 3 4
  1 2 3
   1 2
    1

In [ ]:
#16
for i in range (1,6):
  print (" "*(5-i),end='')
  for j in range (1,i+1):
    print (j,end=' ')
  print ()
for i in range (4,0,-1):
  print(' '*(5-i),end='')
  for j in range (1,i+1):
    print(j,end=' ')
  print()

    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5
 1 2 3 4
  1 2 3
   1 2
    1

In [ ]:
f1,f2,fn=0,1,0
n=int(input())
while fn>2:
  if n==fn:
    print(fn,'is in series')
    break
  elif n<fn:
    print('not',n)
  fn=f1+f2
  f1,f2=f2,fn

8

In [ ]:
453

for i in range (0,8):
  print(' '*(n-i),end='')
  c=11**i
  while c>0:
    s=c%10
    print ('',s,end='')
    c//=10
  print()

         1
        1 1
       1 2 1
      1 3 3 1
     1 4 6 4 1
    1 5 0 1 6 1
   1 6 5 1 7 7 1
  1 7 1 7 8 4 9 1

In [ ]:
n = 6

for i in range(1, n+1):
	for j in range(0, n-i+1):
		print(' ', end='')

	# first element is always 1
	C = 1
	for j in range(1, i+1):

		# first value in a line is always 1
		print(' ', C, sep='', end='')

		# using Binomial Coefficient
		C = C * (i - j) // j
	print()

       1
      1 1
     1 2 1
    1 3 3 1
   1 4 6 4 1
  1 5 10 10 5 1

In [ ]:
#17
for i in range (5,0,-1):
  print(' '*(5-i),end='')
  for j in range (1,i+1):
    print(j,end=' ')
  print()
for i in range (1,6):
  print(' '*(5-i),end='')
  for j in range (1,i+1):
    print(j,end=' ')
  print()

1 2 3 4 5
 1 2 3 4
  1 2 3
   1 2
    1
    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5